  .App {
  text-align: center;
  font-family: 'Acme', sans-serif;
}

.animated-text {
  animation: App-logo-spin infinite 20s ease-out;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0%   {font-size: 10px;}
      25%  {font-size: 20px;}
      50%  {font-size: 30px;}
      75%  {font-size: 40px;}
      100% {font-size: 60px;}
}
.dropdown:hover .dropdown-menu {
display: block;
}
.typewriter{
  color:#f0f0a8;
  box-sizing: border-box;
  width: 45%;

}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.sb {
  color: #fff;
  background-color: #484860;
  border-color: #484860;
  position: absolute;
  top: -30%;
  transform: translateY(-70%);
  transform: translateX(-5%);
box-shadow: 9px 9px 4px grey;
}
.btn-primary:hover {
    color: #484860;
    background-color: #f06048;
    border-color: #f06048;
  }

.midsection {
  position: static;
  height: 120px;
  background-color: #f0f0a8;
  color: #f06048;
  padding: 30px;
  margin-top: 0;
  outline-color: red;
  overflow: visible;
  font-family: 'Acme', sans-serif;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: -2rem;
  background-color: #eceeef;
  border-radius: 0.3rem;
  font-family: 'Acme', sans-serif;

}
.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  height: 510px
}
.navbar {
background-color: #d8c0a8;

}

.fa {

  color:#f06048;
}
.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
  color: #f06048;
}
.navbar-light .navbar-nav .nav-link {
  color: #f06048
}
/* northern11 added this for the footer */
@media (max-width: 1024px) and (min-width: 320px)
.footer {
    padding: 40px 15px !important;
    padding-top: 40px;
    padding-right:15px;
    padding-bottom: 40px;
    padding-left: 15px;
}

.footer {
  color: #b1b1b1;;
  background:#4F5453;
  font-family: "Montserrat";
  font-size: 14px;
  display: block;
}

.footer__row {
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.row {
  box-sizing: border-box;
  display: flex;
  -webkit-box-fles: 0;
  flex: 0 1 auto;
  -webki-box-orient: horizontal;
  webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__row-description {
  padding: 0 50px 60px 50px;
}

.footer__paragraph-bold {
  margin-top:15px;
}

.footer__paragraph {
  line-height:32px;
  margin: 0;
  font-size: 14px;
}

.footer__paragraph-description {
  line-height: 20px;
}

.footer__row .social__icons {
  outline: none;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: auto;
  padding: 0;
  margin: 30px 0 0 0;
}

.social__icons {
  -webkit-box-pack: justify;
  font-size: 18px;
}

.footer__row.row-flat {
  text-align: left;
  margin: 0 0;
}
/*End of northern11 addtion */
