  .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* northern11 added this for the footer */
@media (max-width: 1024px) and (min-width: 320px)
.footer {
    padding: 40px 15px !important;
    padding-top: 40px;
    padding-right:15px;
    padding-bottom: 40px;
    padding-left: 15px;
}

.footer {
  color: #b1b1b1;;
  background:#4F5453;
  font-family: "Montserrat";
  font-size: 14px;
  display: block;
}

.footer__row {
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.row {
  box-sizing: border-box;
  display: flex;
  -webkit-box-fles: 0;
  flex: 0 1 auto;
  -webki-box-orient: horizontal;
  webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__row-description {
  padding: 0 50px 60px 50px;
}

.footer__paragraph-bold {
  margin-top:15px;
}

.footer__paragraph {
  line-height:32px;
  margin: 0;
  font-size: 14px;
}

.footer__paragraph-description {
  line-height: 20px;
}

.footer__row .social__icons {
  outline: none;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: auto;
  padding: 0;
  margin: 30px 0 0 0;
}

.social__icons {
  -webkit-box-pack: justify;
  font-size: 18px;
}

.footer__row.row-flat {
  text-align: left;
  margin: 0 0;
}
/*End of northern11 addtion */
