
/*Purple #484860 */
/*Orange #f06048 */
/*Grey #909090 */
  .App {
  text-align: center;
  font-family: 'Acme', sans-serif;
}
body {
  background-color: white;
  font-family: 'Acme', sans-serif;
  color: #484860;
}

.animated-text {
  animation: App-logo-spin infinite 20s ease-out;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 3.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0%   {font-size: 10px;}
      25%  {font-size: 20px;}
      50%  {font-size: 30px;}
      75%  {font-size: 40px;}
      100% {font-size: 60px;}
}
.dropdown:hover .dropdown-menu {
display: block;
}
.typewriter{
  color:white;
  box-sizing: border-box;
  width: 45%;

}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.sb {
  color: white;
  background-color: #484860;
  border-color: #484860;
  position: absolute;
  top: -30%;
  transform: translateY(-70%);
  transform: translateX(-5%);
box-shadow: 9px 9px 4px grey;

}
.btn-primary:hover {
    color: #484860;
    background-color: #f06048;
    border-color: #f06048;
  }

.midsection{
  position: static;

  height: 90px;
  background-color: white;
  color: #484860;
  padding: 30px;
  margin-top: 0;
  overflow: visible;
  font-family: 'Acme', sans-serif;
  font-size: 21px;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: -2rem;
  background-color: #eceeef;
  border-radius: 0.3rem;
  font-family: 'Acme', sans-serif;

}
.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  height: 510px
}
.navbar {
background-color: white;
padding: 0;
font-size: 18px;

}

.fa {

  color:#484860;
}
.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
  color: #484860;
}
.navbar-light .navbar-nav .nav-link {
  color: #484860;
}
/* northern11 added this for the footer */
@media (max-width: 1024px) and (min-width: 320px)
.footer {
    padding: 40px 15px !important;
    padding-top: 40px;
    padding-right:15px;
    padding-bottom: 40px;
    padding-left: 15px;
}

footer * {
  color: #b1b1b1;;
  background:#4F5453;
  font-family: "Montserrat";
  font-size: 14px;

}

.footer__row {
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.row {
  box-sizing: border-box;
  display: flex;
  -webkit-box-fles: 0;
  flex: 0 1 auto;
  -webki-box-orient: horizontal;
  webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__row-description {
  padding: 0 50px 60px 50px;
}

.footer__paragraph-bold {
  margin-top:15px;
}

.footer__paragraph {
  line-height:32px;
  margin: 0;
  font-size: 14px;
}

.footer__paragraph-description {
  line-height: 20px;
}

.footer__row .social__icons {
  outline: none;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: auto;
  padding: 0;
  margin: 30px 0 0 0;
}

.social__icons {
  -webkit-box-pack: justify;
  font-size: 18px;
}

.footer__row.row-flat {
  text-align: left;
  margin: 0 0;
}
/*End of northern11 addtion */


.aboutUsSection {
background-color: #909090;
height: 450px;
color: white;
}
.aboutUsParaph {
  padding: 100px;
  margin: 50px;
  height: 50px;

}

#formWrapper {
  padding: 10px;
  margin: 10px;
}


.owl {
  fill: blue;
}
.album h1, a {
  color: #f06048;
  padding: 0px;

}
.feature {
    background-color: #f06048;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 0rem;
    padding: 15px;
    padding-left: 150px;
    font-weight: normal;
}
.feature-title * {
    background-color: #f06048;
    text-align: center;
    justify-content: center;
    color: black;
    font-weight: normal;
}
.mytitle{
  background-color:#f06048;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: -.5rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: 1.5rem 4.75rem;
    font-size: 1rem;
    /* line-height: 1.25; */
    color: #464a4c;
    background-color: #fff;
    /* background-image: none; */
    /* background-clip: padding-box; */
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    /* transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s; */
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}
.feature h1{
  text-align: center;
}
.aspace {

}
h1, .h1 {
    font-size: 2.5rem;
    text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    padding-left: 200px;
    white-space: nowrap;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    justify-content: center;
}
.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    justify-content: center;
}
.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    height: 510px;
    background-position-x: center;
}
.aboutUsParaph {
    height: 500px;
    padding: 0px;
}

.btn-block {
    display: block;
    width: 200%;
}




}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){}
/* Styles */
=======
.githubLink {
  text-decoration: underline;
}
